.login {
	width: 100%;
	background-image: url("/img/contact_bg.jpg");

	height: 100vh;
}
.login .l-form {
	width: 75%;
	margin: auto;
	padding-top: 200px;
	padding-bottom: 100px;
}
.login .form-cont {
	width: 40%;
	margin: auto;
	border: 2px solid #e4d804;
	padding-top: 40px;
	padding-bottom: 40px;
}
.login .form-cont h2 {
	color: #e4d804;
	padding-left: 50px;
	padding-bottom: 30px;
}
.login .form-cont .form {
	width: 80%;
	margin: auto;
	align-items: center;
}
.login .form-cont .form input {
	width: 95%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border: 1px solid #1f1e24;
	background: #1f1e24;
	border-radius: 4px;
	color: #bcbcbc;
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
	font-weight: 500;
	transition: 0.3s linear;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	padding-left: 20px;
}
.login .l-btn {
	width: 100%;
}
.l-form .l-t {
	width: 40%;
	margin: auto;
	color: #fff;
	margin-bottom: 20px;
}
.login .l-btn {
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #e4d804;
	border: 1px solid #e4d804;
	border-radius: 5px;
	margin-top: 10px;
	color: #1f2937;
	font-size: 14px;
	font-weight: 700;
	align-items: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
